<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h2 th:text="${#strings.capitalizeWords(title)}"></h2>

    <form th:action="@{/search/results}" method = "post">
        <h3>Search by:</h3>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
<!--                        th:checked="${column.key == 'all'}"/>-->
<!--                        th:checked="${column.key}"/>-->
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #4 - Loop over the search results to display all job fields. -->
<!--    <table th:replace="fragments :: table0"></table>-->
<!--    <table th:replace="fragments :: table1"></table>-->
    <table th:replace="fragments :: table3"></table>
<!--    <table th:replace="fragments :: table2"></table>-->

    <!--    <table>-->
    <!--        <tr th:block th:each="job : ${jobs}" class="job-listing">-->
    <!--            <td>-->
    <!--                <p th:text="${'ID: ' + job.id}"></p>-->
    <!--                <p th:text="${'Name: ' + job.name}"></p>-->
    <!--                <p th:text="${'Employer: ' + job.employer}"></p>-->
    <!--                <p th:text="${'Location: ' + job.location}"></p>-->
    <!--                <p th:text="${'Position Type: ' + job.positionType}"></p>-->
    <!--                <p th:text="${'Core Competency: ' + job.coreCompetency}"></p>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--    </table>-->

</div>

</body>
</html>